@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Voltaire', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: #f4f5fe;
}

.nav-link{
    color: black;
    font-size: 1.1rem;
}

.nav-link:hover{
    color: #2c4bff;
}