@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Voltaire', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    cursor: pointer;
}

.navbar, .home-container{
    background-color: #f4f5fe;
}

.navbar span, .home-container span{
    color: #2c4bff;
}

.nav-link{
    color: black;
    font-size: 1.1rem;
}

.nav-link:hover{
    color: #2c4bff;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.home-container{
    height: 75vh;
}

.home-content{
    margin-left: 1.25vw;
}

.home-container h1{
    font-size: 5rem;
}

.about-me p{
    text-align: justify;
}

.service-container .card{
    transition:  transform 0.5s;
    cursor: pointer;
    background-color: #f4f5fe;
    border: none;
}

.service-container .card:hover{
    transform: scale(1.025);
}

.skill-container p{
    text-align: justify;
}

.dark-theme{
    background-color: #121212;
    color: white;
}

.dark-theme .navbar, .dark-theme .home-container{
    background-color: #181b21;
    color: white;
}

.dark-theme .navbar-brand{
    color: white;
}

.dark-theme .navbar .nav-link{
    color: white;
}

.dark-theme .navbar .nav-link:hover{
    color: #2c4bff;
}

.dark-theme .btn{
    color: white;
    outline: 1px solid white;
}

.dark-theme .btn:hover{
    background-color: white;
    color: black;
}

.dark-theme i{
    color: white;
}

.dark-theme .service-container .card{
    background-color: #181b21;
    color: white;
}

.dark-theme input, .dark-theme input:focus, .dark-theme input::placeholder, .dark-theme textarea, .dark-theme textarea:focus{
    background-color: #181b21;
    color: white;
}